* {
    padding: 0;
    margin: 0;
    font-family: serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 10;
    backdrop-filter: blur(15px);
}

.last-child {
    padding-right: 2vw;
}

body {
    background-color: #ebebeb;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    z-index: 20;
}

.header > .logstate {
    display: flex;
    padding-left: 7vh;
}

.header > .logstate > img {
    margin: 0;
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 50%;
    border: 1px solid #6fc173;
}

.header > .logstate > a {
    height: 100%;
    line-height: 6.5vh;
    padding-left: 5px;
}

.header > .navigation {
    display: flex;
    margin-right: 10vw;
    justify-content: center;
}

.header > .navigation > li + li {
    padding-left: 2vw;
}

.headline {
    background-image: url(../imgs/apple.png);
    background-position: center;
    background-size: cover;
    padding-top: 5vh;
    height: 100vh;
    width: 100%;
    box-shadow: 0 0 20px 0 #eeefef;
    text-align: center;
}

.headline > .title {
    transform: translate(0, 30vh);
}

.introduction {
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    padding-bottom: 3vh;
}

.introduction > .who {
    text-align: center;
    margin: 5vh 0;
    transform: translate(-25vw, 0);
}

.introduction > .appearance {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.introduction > .appearance > img {
    height: 28vh;
    width: 28vh;
    border-radius: 25px;
}

.introduction > .appearance > .explanation {
    padding-left: 5vw;
}

.introduction > .appearance > .explanation > p {
    margin-top: 2vh;
}

.timeline {
    list-style: none;
    padding-top: 7vh;
    padding-left: 7vw;
}

.timeline > li {
    margin-bottom: 3vh;
}

#last-child-bottom {
    margin-bottom: 0;
}

@media ( min-width : 640px ) {
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }

    .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }

    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 4vw;
    }

    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #6fc173;
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%;
    }
}

.view-contents {
    min-height: 100vh;
}

.view-contents > .contents-title {
    text-align: center;
    margin: 5vh 0;
    transform: translate(-25vw, 0);
}

.view-contents > .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh 2vw;
    align-items: center;
    justify-content: center;
}

.view-contents > .container > .content {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
}

.view-contents > .container > .content > img {
    height: 10vh;
    width: 10vh;
    border-radius: 15px;
    margin-right: 2vw;
}